<div class="buffer-both">
  <h3 class="title-medium text-center tags-header">Вопросы с хэштегом: #<%= @tag.name %></h3>
  <div class="questions-list">
    <% @questions.uniq.each do |question| %>
      <%= render partial: 'questions/question', object: question %>
    <% end %>
  </div>
</div>
